<h1 class="p-3 text-center alert-success">Angular Directives</h1>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" appDropDown type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>


<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <p basicCss> <!-- basicCss is the host -->
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat in sunt voluptatum sequi labore totam,
                similique ut dicta expedita facere?
            </p>
            <!-- <input type="text" class="form-control"> -->
            <p advanceCss>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat in sunt voluptatum sequi labore totam,
                similique ut dicta expedita facere?
            </p>
            <p testCss>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat in sunt voluptatum sequi labore totam,
                similique ut dicta expedita facere?
            </p>
            <p mouseCss>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat in sunt voluptatum sequi labore totam,
                similique ut dicta expedita facere?
            </p>

            <!-- <div class="form-group">
                <input type="text" appToLowerCase class="form-control">
            </div> -->

            <h2 class="p-3 alert-success text-center">Input directives</h2>
            <div class="form-group">
                <input type="text" appToLowercaseByInput class="form-control">
            </div>

            <hr>
            <h2 class="p-3 alert-success text-center">Credit Card directives</h2>
            <div class="form-group">
                <input type="text" appCreditCardDirective class="form-control">
            </div>
        </div>
    </div>
</div>